body {
  background-color: rgb(43, 65, 161);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: auto;
  height: 100vh;
}
.box {
  background-color: whitesmoke;
  border-radius: 25px;
  height: 500px;
  
}
h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.headingOne {
  padding-top: 10px;
}
.box1 {
  background-color: white;
  margin: 25px;
  text-align: center;
  font-size: large;
  border-radius: 10px;
}
.heightNumber {
  margin-bottom: 10px;

  height: 25px;
}

.box2 {
  background-color: white;
  margin: 25px;
  text-align: center;
  font-size: large;
  border-radius: 10px;
}

.weightNumber {
  margin-bottom: 10px;

  height: 25px;
}

button {
  background-color: rgb(116, 116, 211);
  border-radius: 10px;
  border: none;
  height: 35px;
  width: 350px;
  margin: 0 25px;
  color: white;
  font-size: 15px;
}

button:hover{
  cursor: pointer;
}

.yourBMI {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.bmiMessage {
  background-color: aqua;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 140px;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 20px;
}

.comments{
  display: flex;
  justify-content: center;
  color: purple;
  font-size: large;
}