body {
  margin: 0;
  padding: 0;
  background-color: #f4c530;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  background-color: white;
  width: 500px;
  padding: 25px;
  border-radius: 8px;
  position: absolute;
}

.searchContainer {
  text-align: center;
}

input {
  border: none;
  border-bottom: 1px solid black;
  width: 70%;
  padding: 8px;
  font-size: 17px;
  outline: none;
}

.search {
  background-color: #f4c530;
  outline: none;
  border: none;
  padding: 12px 19px;
  border-radius: 8px;
  margin-left: 8px;
  font-size: 17px;
  font-weight: bold;
}

img {
  height: 200px;
  width: 50%;
  display: block;
  margin: auto;
  padding-top: 25px;
}

.title {
  background-color: #f4c530;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

.title h3,
p {
  margin: 0;
}

ul {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  margin-bottom: 20px;
}

.viewRecipe {
  background-color: #f4c530;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 17px;
  display: block;
  margin-left: 70%;
}

.notFound {
  text-align: center;
}

.dish {
  background-color: white;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  padding: 15px;
}

pre {
  text-wrap: wrap;
  white-space: pre-wrap;
  font-size: 15px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.closeBtn{
  background-color: #f4c530;
  display: block;
  margin-left: 90%;
  border: none;
  padding: 10px 15px;
  margin-top: 12px;
  border-radius: 5px;
}